In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# Specify the path to your folder
path_to_folder = "/content/drive/MyDrive/Research_Project_AQI_ExTR_Finalized_Datasets/Classification_Completed_Datasets"

averaged_resultant_rfc_dataset = pd.read_csv(f"{path_to_folder}/completed_dataset_rfc.csv")

Mounted at /content/drive

In [ ]:
averaged_resultant_rfc_dataset.head()

,City,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,Date,Time
0,Delhi,2015-01-01 16:00:00,211.51,340.66,13.09,37.08,47.07,33.54,15.24,12.33,34.35,3.51,5.85,4.73,456.0,Severe,2015-01-01,16:00:00
1,Delhi,2015-01-01 17:00:00,191.12,257.40,15.44,38.40,51.24,34.98,13.11,18.00,34.38,3.58,5.23,3.78,450.0,Severe,2015-01-01,17:00:00
2,Delhi,2015-01-01 18:00:00,218.44,351.01,22.85,44.73,59.26,34.80,18.35,19.17,38.42,3.67,5.93,4.98,446.0,Severe,2015-01-01,18:00:00
3,Delhi,2015-01-01 19:00:00,296.80,600.95,69.20,47.76,101.68,34.25,16.67,21.50,49.12,14.75,27.13,8.78,475.0,Severe,2015-01-01,19:00:00
4,Delhi,2015-01-01 20:00:00,336.43,714.63,148.42,46.31,171.10,35.75,12.17,17.67,56.44,26.56,45.62,9.99,480.0,Severe,2015-01-01,20:00:00

In [ ]:
# Get the max and min values for each column
max_values = averaged_resultant_rfc_dataset.max()
min_values = averaged_resultant_rfc_dataset.min()

# Print the results
print("Maximum values for each column:")
print(max_values)
print("\nMinimum values for each column:")
min_values

Maximum values for each column:
City                        Delhi
Datetime      2020-07-01 00:00:00
PM2.5                       938.5
PM10                       1000.0
NO                          497.4
NO2                        337.82
NOx                        433.78
NH3                        485.52
CO                          47.42
SO2                        187.05
O3                         497.62
Benzene                     93.34
Toluene                     162.0
Xylene                     158.83
AQI                         762.0
AQI_Bucket              Very Poor
Date                   2020-07-01
Time                     23:00:00
dtype: object

Minimum values for each column:

City                        Delhi
Datetime      2015-01-01 01:00:00
PM2.5                  -26.221579
PM10                 -5262.215585
NO                     -45.293637
NO2                    -89.780487
NOx                   -163.335106
NH3                     -8.944549
CO                            0.0
SO2                    -42.620576
O3                   -1608.052186
Benzene                       0.0
Toluene                       0.0
Xylene                  -0.728214
AQI                          22.0
AQI_Bucket                   Good
Date                   2015-01-01
Time                     00:00:00
dtype: object

In [ ]:
# prompt: in this averaged_resultant_rfc_dataset, for values in each column that are below 0, replace it with the minimum non-negative alue for the respective column

cols = ['PM2.5',
 'PM10',
 'NO',
 'NO2',
 'NOx',
 'NH3',
 'CO',
 'SO2',
 'O3',
 'Benzene',
 'Toluene',
 'Xylene']

for col in averaged_resultant_rfc_dataset.columns:
    if col in cols:
        min_non_negative = averaged_resultant_rfc_dataset[col][averaged_resultant_rfc_dataset[col] >= 0].min()
        if min_non_negative is not None:
            averaged_resultant_rfc_dataset.loc[averaged_resultant_rfc_dataset[col] < 0, col] = min_non_negative
        else:
            # Handle cases where all values in the column are negative
            print(f"All values in column '{col}' are negative. No suitable replacement found.")
            # You might choose to fill with 0 or another default value in this case:
            # averaged_resultant_rfc_dataset.loc[averaged_resultant_rfc_dataset[col] < 0, col] = 0

averaged_resultant_rfc_dataset.head()

,City,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,Date,Time
0,Delhi,2015-01-01 16:00:00,211.51,340.66,13.09,37.08,47.07,33.54,15.24,12.33,34.35,3.51,5.85,4.73,456.0,Severe,2015-01-01,16:00:00
1,Delhi,2015-01-01 17:00:00,191.12,257.40,15.44,38.40,51.24,34.98,13.11,18.00,34.38,3.58,5.23,3.78,450.0,Severe,2015-01-01,17:00:00
2,Delhi,2015-01-01 18:00:00,218.44,351.01,22.85,44.73,59.26,34.80,18.35,19.17,38.42,3.67,5.93,4.98,446.0,Severe,2015-01-01,18:00:00
3,Delhi,2015-01-01 19:00:00,296.80,600.95,69.20,47.76,101.68,34.25,16.67,21.50,49.12,14.75,27.13,8.78,475.0,Severe,2015-01-01,19:00:00
4,Delhi,2015-01-01 20:00:00,336.43,714.63,148.42,46.31,171.10,35.75,12.17,17.67,56.44,26.56,45.62,9.99,480.0,Severe,2015-01-01,20:00:00

In [ ]:
# Get the max and min values for each column
max_values = averaged_resultant_rfc_dataset.max()
min_values = averaged_resultant_rfc_dataset.min()

# Print the results
print("Maximum values for each column:")
print(max_values)
print("\nMinimum values for each column:")
min_values

Maximum values for each column:
City                        Delhi
Datetime      2020-07-01 00:00:00
PM2.5                       938.5
PM10                       1000.0
NO                          497.4
NO2                        337.82
NOx                        433.78
NH3                        485.52
CO                          47.42
SO2                        187.05
O3                         497.62
Benzene                     93.34
Toluene                     162.0
Xylene                     158.83
AQI                         762.0
AQI_Bucket              Very Poor
Date                   2020-07-01
Time                     23:00:00
dtype: object

Minimum values for each column:

City                        Delhi
Datetime      2015-01-01 01:00:00
PM2.5                        0.05
PM10                     1.209669
NO                           0.05
NO2                      1.282268
NOx                           0.0
NH3                      0.134099
CO                            0.0
SO2                      0.015567
O3                           0.06
Benzene                       0.0
Toluene                       0.0
Xylene                        0.0
AQI                          22.0
AQI_Bucket                   Good
Date                   2015-01-01
Time                     00:00:00
dtype: object

In [ ]:
averaged_resultant_rfc_dataset.head()

,City,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,Date,Time
0,Delhi,2015-01-01 16:00:00,211.51,340.66,13.09,37.08,47.07,33.54,15.24,12.33,34.35,3.51,5.85,4.73,456.0,Severe,2015-01-01,16:00:00
1,Delhi,2015-01-01 17:00:00,191.12,257.40,15.44,38.40,51.24,34.98,13.11,18.00,34.38,3.58,5.23,3.78,450.0,Severe,2015-01-01,17:00:00
2,Delhi,2015-01-01 18:00:00,218.44,351.01,22.85,44.73,59.26,34.80,18.35,19.17,38.42,3.67,5.93,4.98,446.0,Severe,2015-01-01,18:00:00
3,Delhi,2015-01-01 19:00:00,296.80,600.95,69.20,47.76,101.68,34.25,16.67,21.50,49.12,14.75,27.13,8.78,475.0,Severe,2015-01-01,19:00:00
4,Delhi,2015-01-01 20:00:00,336.43,714.63,148.42,46.31,171.10,35.75,12.17,17.67,56.44,26.56,45.62,9.99,480.0,Severe,2015-01-01,20:00:00

In [ ]:
# Get the max and min values for each column
max_values = averaged_resultant_rfc_dataset.max()
min_values = averaged_resultant_rfc_dataset.min()

# Print the results
print("Maximum values for each column:")
print(max_values)
print("\nMinimum values for each column:")
min_values

Maximum values for each column:
City                        Delhi
Datetime      2020-07-01 00:00:00
PM2.5                       938.5
PM10                       1000.0
NO                          497.4
NO2                        337.82
NOx                        433.78
NH3                        485.52
CO                          47.42
SO2                        187.05
O3                         497.62
Benzene                     93.34
Toluene                     162.0
Xylene                     158.83
AQI                         762.0
AQI_Bucket              Very Poor
Date                   2020-07-01
Time                     23:00:00
dtype: object

Minimum values for each column:

City                        Delhi
Datetime      2015-01-01 01:00:00
PM2.5                        0.05
PM10                     1.209669
NO                           0.05
NO2                      1.282268
NOx                           0.0
NH3                      0.134099
CO                            0.0
SO2                      0.015567
O3                           0.06
Benzene                       0.0
Toluene                       0.0
Xylene                        0.0
AQI                          22.0
AQI_Bucket                   Good
Date                   2015-01-01
Time                     00:00:00
dtype: object

In [ ]:
feature_columns_all = averaged_resultant_rfc_dataset.columns.tolist()
features_to_remove = ['City', 'Datetime', 'AQI', 'AQI_Bucket', 'Date', 'Time']
feature_cols = [col for col in feature_columns_all if col not in features_to_remove]

feature_cols

['PM2.5',
 'PM10',
 'NO',
 'NO2',
 'NOx',
 'NH3',
 'CO',
 'SO2',
 'O3',
 'Benzene',
 'Toluene',
 'Xylene']

In [ ]:
# sort by "Datetime" column
averaged_resultant_rfc_dataset = averaged_resultant_rfc_dataset.sort_values(by="Datetime")

averaged_resultant_rfc_dataset

,City,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,Date,Time
47694,Delhi,2015-01-01 01:00:00,454.58,935.180000,81.52,41.78,187.66,27.54,9.29,3.41,54.94,25.24,58.57,13.80,526.280000,Severe,2015-01-01,01:00:00
47695,Delhi,2015-01-01 02:00:00,440.44,874.220879,70.80,43.46,176.83,27.72,13.28,3.88,50.53,23.10,49.37,15.63,524.250000,Severe,2015-01-01,02:00:00
47696,Delhi,2015-01-01 03:00:00,409.09,842.413294,132.46,41.19,141.02,28.94,29.67,2.83,19.33,19.04,38.94,17.18,487.350000,Severe,2015-01-01,03:00:00
47697,Delhi,2015-01-01 04:00:00,436.12,881.655247,84.78,39.55,102.84,29.30,21.76,4.33,20.08,13.99,27.53,16.82,494.516667,Severe,2015-01-01,04:00:00
47698,Delhi,2015-01-01 05:00:00,415.88,976.990000,60.24,37.41,80.12,30.84,26.19,6.17,16.00,11.14,21.99,14.29,477.496667,Severe,2015-01-01,05:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47689,Delhi,2020-06-30 20:00:00,43.19,123.260000,6.33,22.28,17.66,29.92,0.92,10.64,44.13,1.63,17.83,0.86,97.000000,Satisfactory,2020-06-30,20:00:00
47690,Delhi,2020-06-30 21:00:00,45.30,125.220000,6.34,22.91,17.96,29.95,1.04,10.59,39.62,1.72,18.06,1.16,99.000000,Satisfactory,2020-06-30,21:00:00
47691,Delhi,2020-06-30 22:00:00,49.04,129.390000,6.29,20.95,16.80,30.01,1.00,10.20,38.95,1.66,16.17,1.18,101.000000,Moderate,2020-06-30,22:00:00
47692,Delhi,2020-06-30 23:00:00,50.51,128.860000,6.19,20.40,16.83,29.40,0.94,10.98,34.53,1.60,16.79,0.85,102.000000,Moderate,2020-06-30,23:00:00
47693,Delhi,2020-07-01 00:00:00,54.01,128.660000,6.33,21.05,16.81,29.06,0.97,11.15,29.73,2.03,23.57,0.65,101.000000,Moderate,2020-07-01,00:00:00

In [ ]:
# Split the data into 80-20 ratio
from sklearn.model_selection import train_test_split

In [ ]:
main_dataset = averaged_resultant_rfc_dataset.copy()
main_dataset.head()

,City,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket,Date,Time
47694,Delhi,2015-01-01 01:00:00,454.58,935.180000,81.52,41.78,187.66,27.54,9.29,3.41,54.94,25.24,58.57,13.80,526.280000,Severe,2015-01-01,01:00:00
47695,Delhi,2015-01-01 02:00:00,440.44,874.220879,70.80,43.46,176.83,27.72,13.28,3.88,50.53,23.10,49.37,15.63,524.250000,Severe,2015-01-01,02:00:00
47696,Delhi,2015-01-01 03:00:00,409.09,842.413294,132.46,41.19,141.02,28.94,29.67,2.83,19.33,19.04,38.94,17.18,487.350000,Severe,2015-01-01,03:00:00
47697,Delhi,2015-01-01 04:00:00,436.12,881.655247,84.78,39.55,102.84,29.30,21.76,4.33,20.08,13.99,27.53,16.82,494.516667,Severe,2015-01-01,04:00:00
47698,Delhi,2015-01-01 05:00:00,415.88,976.990000,60.24,37.41,80.12,30.84,26.19,6.17,16.00,11.14,21.99,14.29,477.496667,Severe,2015-01-01,05:00:00

In [ ]:
X = main_dataset[feature_cols]
y = main_dataset['AQI']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import pandas as pd

# Step 2: Apply PCA on the normal residuals from Step 1
def apply_pca(X_train_arima, X_test_arima, n_components=0.95):
    # Initialize the scaler
    scaler = StandardScaler()

    # Fit the scaler only on the training data and transform both train and test data
    X_train_scaled = scaler.fit_transform(X_train_arima)
    X_test_scaled = scaler.transform(X_test_arima)  # Use transform, not fit_transform

    # Apply PCA to the scaled training data
    pca = PCA(n_components=n_components)  # Retain 95% variance by default
    X_train_pca = pca.fit_transform(X_train_scaled)

    # Apply the same PCA transformation to the test data
    X_test_pca = pca.transform(X_test_scaled)  # Apply the same PCA to the test data

    # Create DataFrames for the PCA-transformed data
    pca_columns = [f'PC{i+1}' for i in range(pca.n_components_)]
    X_train_pca_df = pd.DataFrame(X_train_pca, columns=pca_columns)
    X_test_pca_df = pd.DataFrame(X_test_pca, columns=pca_columns)

    return X_train_pca_df, X_test_pca_df, pca

# Apply the PCA function to both training and test residuals
X_train_pca, X_test_pca, pca = apply_pca(X_train, X_test)

# Now, X_train_pca and X_test_pca contain the PCA-transformed data from the ARIMA residuals
X_train_pca.head(), X_test_pca.head()

(        PC1       PC2       PC3       PC4       PC5       PC6       PC7  \
 0  2.878495  2.301417 -1.822189  5.446997 -0.131791 -1.629687 -1.090953
 1 -1.202299  2.145340  0.175934 -1.010252  1.992915 -0.983813  1.381429
 2  0.562428  1.478255 -1.618041  0.706003 -0.611554  2.559524 -0.399582
 3  2.501040 -1.349443 -0.141470 -0.074517  2.001581 -0.568263 -2.331179
 4 -1.448719 -0.092910 -0.110001 -0.219642 -0.471387 -0.084242 -0.231775

         PC8       PC9      PC10
 0  2.711153  0.559540 -0.083014
 1  0.693317  0.164933  0.013276
 2 -0.754857  0.367632 -0.250991
 3 -0.643653  0.539635 -0.289905
 4  0.102056  0.043198  0.122867  ,
         PC1       PC2       PC3       PC4       PC5       PC6       PC7  \
 0  2.773644  0.662117 -2.610847  1.453673 -0.116915  1.108916 -0.899492
 1 -0.751860 -0.103551  1.105543  0.363844 -0.008690 -0.618019 -0.269619
 2 -0.470011  0.562458  1.170062 -0.342138  0.820785 -0.527779  0.227257
 3  4.809348  0.118046  1.623234  0.217735 -0.157854 -0.113753  0.564953
 4  2.074472 -0.541024 -0.078282  0.530192  0.235585 -1.059497 -1.210963

         PC8       PC9      PC10
 0 -0.052217  0.549431 -0.317547
 1  0.709877  0.434854 -0.398048
 2 -0.051324 -0.089514 -0.185752
 3 -0.493583 -0.411882 -1.479448
 4  0.618944 -0.193649  0.441502  )

In [ ]:
import numpy as np
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, accuracy_score
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.ensemble import ExtraTreesRegressor, ExtraTreesClassifier
from sklearn.ensemble import GradientBoostingRegressor, GradientBoostingClassifier
from sklearn.linear_model import ElasticNet
from xgboost import XGBRegressor, XGBClassifier
from sklearn.model_selection import GridSearchCV

In [ ]:
# Define custom metrics
def mean_relative_error(y_true, y_pred):
    return np.mean(np.abs((y_true - y_pred) / y_true))

def mean_absolute_percentage_error(y_true, y_pred):
    return np.mean(np.abs((y_true - y_pred) / np.abs(y_true))) * 100

def symmetric_mean_absolute_percentage_error(y_true, y_pred):
    return np.mean(2.0 * np.abs(y_true - y_pred) / (np.abs(y_true) + np.abs(y_pred))) * 100

def mean_absolute_scaled_error(y_true, y_pred, seasonality=1):
    naive_forecast_error = np.mean(np.abs(y_true[seasonality:] - y_true[:-seasonality]))
    return np.mean(np.abs(y_true - y_pred)) / naive_forecast_error

In [ ]:
def RandomForestModel(X_train_pca, y_train, X_test_pca, y_test, regression_target=True):
    if regression_target:
        # For regression problem, use RandomForestRegressor
        model = RandomForestRegressor(n_estimators=100, random_state=42)
        model.fit(X_train_pca, y_train)
        y_pred = model.predict(X_test_pca)

        # Evaluate the model using standard and custom metrics
        reg_mse = mean_squared_error(y_test, y_pred)  # Mean Squared Error
        reg_mae = mean_absolute_error(y_test, y_pred)  # Mean Absolute Error
        reg_evs = model.score(X_test_pca, y_test)  # Explained Variance Score
        reg_max_error = np.max(np.abs(y_test - y_pred))  # Max Error
        reg_mre = mean_relative_error(y_test, y_pred)  # Mean Relative Error
        reg_mape = mean_absolute_percentage_error(y_test, y_pred)  # Mean Absolute Percentage Error
        reg_smape = symmetric_mean_absolute_percentage_error(y_test, y_pred)  # Symmetric MAPE
        reg_mase = mean_absolute_scaled_error(y_test, y_pred)  # Mean Absolute Scaled Error
        reg_r2 = r2_score(y_test, y_pred)  # R-squared

        # Print results
        print("Regression Model Evaluation:")
        print(f"Mean Squared Error (MSE): {reg_mse:.10f}")
        print(f"Mean Absolute Error (MAE): {reg_mae:.10f}")
        print(f"Explained Variance Score (EVS): {reg_evs:.10f}")
        print(f"Max Error: {reg_max_error:.10f}")
        print(f"Mean Relative Error (MRE): {reg_mre:.10f}")
        print(f"Mean Absolute Percentage Error (MAPE): {reg_mape:.10f}")
        print(f"Symmetric Mean Absolute Percentage Error (SMAPE): {reg_smape:.10f}")
        print(f"Mean Absolute Scaled Error (MASE): {reg_mase:.10f}")
        print(f"R-squared (R): {reg_r2:.10f}")
    else:
        # For classification problem, use RandomForestClassifier
        model = RandomForestClassifier(n_estimators=100, random_state=42)
        model.fit(X_train_pca, y_train)
        y_pred = model.predict(X_test_pca)

        # Evaluate the model
        accuracy = accuracy_score(y_test, y_pred)  # Accuracy for classification
        print(f"Accuracy: {accuracy}")

    return model

# Step 4: Train the model and evaluate
# Assuming 'regression_target' is a flag indicating whether the task is regression or classification
model = RandomForestModel(X_train_pca, y_train, X_test_pca, y_test, regression_target=True)

Regression Model Evaluation:
Mean Squared Error (MSE): 2651.0097292011
Mean Absolute Error (MAE): 37.4340854720
Explained Variance Score (EVS): 0.8213398111
Max Error: 374.8900000000
Mean Relative Error (MRE): 0.1682542876
Mean Absolute Percentage Error (MAPE): 16.8254287585
Symmetric Mean Absolute Percentage Error (SMAPE): 15.6774830915
Mean Absolute Scaled Error (MASE): inf
R-squared (R): 0.8213398111

<ipython-input-18-369904b74121>:13: RuntimeWarning: divide by zero encountered in scalar divide
  return np.mean(np.abs(y_true - y_pred)) / naive_forecast_error

In [ ]:
def ExtraTreesModel(X_train_pca, y_train, X_test_pca, y_test, regression_target=True):
    if regression_target:
        # For regression problem, use ExtraTreesRegressor
        model = ExtraTreesRegressor(n_estimators=100, random_state=42)
        model.fit(X_train_pca, y_train)
        y_pred = model.predict(X_test_pca)

        # Evaluate the model using standard and custom metrics
        reg_mse = mean_squared_error(y_test, y_pred)  # Mean Squared Error
        reg_mae = mean_absolute_error(y_test, y_pred)  # Mean Absolute Error
        reg_evs = model.score(X_test_pca, y_test)  # Explained Variance Score
        reg_max_error = np.max(np.abs(y_test - y_pred))  # Max Error
        reg_mre = mean_relative_error(y_test, y_pred)  # Mean Relative Error
        reg_mape = mean_absolute_percentage_error(y_test, y_pred)  # Mean Absolute Percentage Error
        reg_smape = symmetric_mean_absolute_percentage_error(y_test, y_pred)  # Symmetric MAPE
        reg_mase = mean_absolute_scaled_error(y_test, y_pred)  # Mean Absolute Scaled Error
        reg_r2 = r2_score(y_test, y_pred)  # R-squared

        # Print results
        print("Regression Model Evaluation:")
        print(f"Mean Squared Error (MSE): {reg_mse:.10f}")
        print(f"Mean Absolute Error (MAE): {reg_mae:.10f}")
        print(f"Explained Variance Score (EVS): {reg_evs:.10f}")
        print(f"Max Error: {reg_max_error:.10f}")
        print(f"Mean Relative Error (MRE): {reg_mre:.10f}")
        print(f"Mean Absolute Percentage Error (MAPE): {reg_mape:.10f}")
        print(f"Symmetric Mean Absolute Percentage Error (SMAPE): {reg_smape:.10f}")
        print(f"Mean Absolute Scaled Error (MASE): {reg_mase:.10f}")
        print(f"R-squared (R): {reg_r2:.10f}")
    else:
        # For classification problem, use ExtraTreesClassifier
        model = ExtraTreesClassifier(n_estimators=100, random_state=42)
        model.fit(X_train_pca, y_train)
        y_pred = model.predict(X_test_pca)

        # Evaluate the model
        accuracy = accuracy_score(y_test, y_pred)  # Accuracy for classification
        print(f"Classification Accuracy: {accuracy:.10f}")

    return model


# Step 4: Train the model and evaluate
# Assuming 'regression_target' is a flag indicating whether the task is regression or classification
model = ExtraTreesModel(X_train_pca, y_train, X_test_pca, y_test, regression_target=True)

Regression Model Evaluation:
Mean Squared Error (MSE): 2500.1282071788
Mean Absolute Error (MAE): 36.1592878872
Explained Variance Score (EVS): 0.8315082088
Max Error: 339.7700000000
Mean Relative Error (MRE): 0.1626895090
Mean Absolute Percentage Error (MAPE): 16.2689509034
Symmetric Mean Absolute Percentage Error (SMAPE): 15.1538920993
Mean Absolute Scaled Error (MASE): inf
R-squared (R): 0.8315082088

<ipython-input-18-369904b74121>:13: RuntimeWarning: divide by zero encountered in scalar divide
  return np.mean(np.abs(y_true - y_pred)) / naive_forecast_error

In [ ]:
def DecisionTreeModel(X_train_pca, y_train, X_test_pca, y_test, regression_target=True):
    if regression_target:
        # For regression problem, use DecisionTreeRegressor
        model = DecisionTreeRegressor(random_state=42)
        model.fit(X_train_pca, y_train)
        y_pred = model.predict(X_test_pca)

        # Evaluate the model using standard and custom metrics
        reg_mse = mean_squared_error(y_test, y_pred)  # Mean Squared Error
        reg_mae = mean_absolute_error(y_test, y_pred)  # Mean Absolute Error
        reg_evs = model.score(X_test_pca, y_test)  # Explained Variance Score
        reg_max_error = np.max(np.abs(y_test - y_pred))  # Max Error
        reg_mre = mean_relative_error(y_test, y_pred)  # Mean Relative Error
        reg_mape = mean_absolute_percentage_error(y_test, y_pred)  # Mean Absolute Percentage Error
        reg_smape = symmetric_mean_absolute_percentage_error(y_test, y_pred)  # Symmetric MAPE
        reg_mase = mean_absolute_scaled_error(y_test, y_pred)  # Mean Absolute Scaled Error
        reg_r2 = r2_score(y_test, y_pred)  # R-squared

        # Print results
        print("Decision Tree Regression Model Evaluation:")
        print(f"Mean Squared Error (MSE): {reg_mse:.10f}")
        print(f"Mean Absolute Error (MAE): {reg_mae:.10f}")
        print(f"Explained Variance Score (EVS): {reg_evs:.10f}")
        print(f"Max Error: {reg_max_error:.10f}")
        print(f"Mean Relative Error (MRE): {reg_mre:.10f}")
        print(f"Mean Absolute Percentage Error (MAPE): {reg_mape:.10f}")
        print(f"Symmetric Mean Absolute Percentage Error (SMAPE): {reg_smape:.10f}")
        print(f"Mean Absolute Scaled Error (MASE): {reg_mase:.10f}")
        print(f"R-squared (R): {reg_r2:.10f}")
    else:
        # For classification problem, use DecisionTreeClassifier
        model = DecisionTreeClassifier(random_state=42)
        model.fit(X_train_pca, y_train)
        y_pred = model.predict(X_test_pca)

        # Evaluate the model
        accuracy = accuracy_score(y_test, y_pred)  # Accuracy for classification
        print(f"Decision Tree Classification Accuracy: {accuracy:.10f}")

    return model


# Step 4: Train the model and evaluate
# Assuming 'regression_target' is a flag indicating whether the task is regression or classification
model = DecisionTreeModel(X_train_pca, y_train, X_test_pca, y_test, regression_target=True)

Decision Tree Regression Model Evaluation:
Mean Squared Error (MSE): 5332.8991295649
Mean Absolute Error (MAE): 49.8568150498
Explained Variance Score (EVS): 0.6405985404
Max Error: 410.0000000000
Mean Relative Error (MRE): 0.2173924531
Mean Absolute Percentage Error (MAPE): 21.7392453076
Symmetric Mean Absolute Percentage Error (SMAPE): 20.1738313443
Mean Absolute Scaled Error (MASE): inf
R-squared (R): 0.6405985404

<ipython-input-18-369904b74121>:13: RuntimeWarning: divide by zero encountered in scalar divide
  return np.mean(np.abs(y_true - y_pred)) / naive_forecast_error

In [ ]:
def GradientBoostingModel(X_train_pca, y_train, X_test_pca, y_test, regression_target=True):
    if regression_target:
        # For regression problem, use GradientBoostingRegressor
        model = GradientBoostingRegressor(n_estimators=100, random_state=42)
        model.fit(X_train_pca, y_train)
        y_pred = model.predict(X_test_pca)

        # Evaluate the model using standard and custom metrics
        reg_mse = mean_squared_error(y_test, y_pred)  # Mean Squared Error
        reg_mae = mean_absolute_error(y_test, y_pred)  # Mean Absolute Error
        reg_evs = model.score(X_test_pca, y_test)  # Explained Variance Score
        reg_max_error = np.max(np.abs(y_test - y_pred))  # Max Error
        reg_mre = mean_relative_error(y_test, y_pred)  # Mean Relative Error
        reg_mape = mean_absolute_percentage_error(y_test, y_pred)  # Mean Absolute Percentage Error
        reg_smape = symmetric_mean_absolute_percentage_error(y_test, y_pred)  # Symmetric MAPE
        reg_mase = mean_absolute_scaled_error(y_test, y_pred)  # Mean Absolute Scaled Error
        reg_r2 = r2_score(y_test, y_pred)  # R-squared

        # Print results
        print("Gradient Boosting Regression Model Evaluation:")
        print(f"Mean Squared Error (MSE): {reg_mse:.10f}")
        print(f"Mean Absolute Error (MAE): {reg_mae:.10f}")
        print(f"Explained Variance Score (EVS): {reg_evs:.10f}")
        print(f"Max Error: {reg_max_error:.10f}")
        print(f"Mean Relative Error (MRE): {reg_mre:.10f}")
        print(f"Mean Absolute Percentage Error (MAPE): {reg_mape:.10f}")
        print(f"Symmetric Mean Absolute Percentage Error (SMAPE): {reg_smape:.10f}")
        print(f"Mean Absolute Scaled Error (MASE): {reg_mase:.10f}")
        print(f"R-squared (R): {reg_r2:.10f}")
    else:
        print("This function currently supports regression only. Please set regression_target=True.")

    return model


# Step 4: Train the model and evaluate
# Assuming 'regression_target' is a flag indicating whether the task is regression or classification
model = GradientBoostingModel(X_train_pca, y_train, X_test_pca, y_test, regression_target=True)

Gradient Boosting Regression Model Evaluation:
Mean Squared Error (MSE): 3719.2685538261
Mean Absolute Error (MAE): 46.2957543184
Explained Variance Score (EVS): 0.7493463659
Max Error: 388.0471074734
Mean Relative Error (MRE): 0.2176884931
Mean Absolute Percentage Error (MAPE): 21.7688493111
Symmetric Mean Absolute Percentage Error (SMAPE): 19.9211422747
Mean Absolute Scaled Error (MASE): inf
R-squared (R): 0.7493463659

<ipython-input-18-369904b74121>:13: RuntimeWarning: divide by zero encountered in scalar divide
  return np.mean(np.abs(y_true - y_pred)) / naive_forecast_error

In [ ]:
def ElasticNetModel(X_train_pca, y_train, X_test_pca, y_test, regression_target=True, alpha=1.0, l1_ratio=0.5):
    if regression_target:
        # For regression problem, use ElasticNet
        model = ElasticNet(alpha=alpha, l1_ratio=l1_ratio, random_state=42)
        model.fit(X_train_pca, y_train)
        y_pred = model.predict(X_test_pca)

        # Evaluate the model using standard and custom metrics
        reg_mse = mean_squared_error(y_test, y_pred)  # Mean Squared Error
        reg_mae = mean_absolute_error(y_test, y_pred)  # Mean Absolute Error
        reg_evs = model.score(X_test_pca, y_test)  # Explained Variance Score
        reg_max_error = np.max(np.abs(y_test - y_pred))  # Max Error
        reg_mre = mean_relative_error(y_test, y_pred)  # Mean Relative Error
        reg_mape = mean_absolute_percentage_error(y_test, y_pred)  # Mean Absolute Percentage Error
        reg_smape = symmetric_mean_absolute_percentage_error(y_test, y_pred)  # Symmetric MAPE
        reg_mase = mean_absolute_scaled_error(y_test, y_pred)  # Mean Absolute Scaled Error
        reg_r2 = r2_score(y_test, y_pred)  # R-squared

        # Print results
        print("Elastic Net Regression Model Evaluation:")
        print(f"Mean Squared Error (MSE): {reg_mse:.10f}")
        print(f"Mean Absolute Error (MAE): {reg_mae:.10f}")
        print(f"Explained Variance Score (EVS): {reg_evs:.10f}")
        print(f"Max Error: {reg_max_error:.10f}")
        print(f"Mean Relative Error (MRE): {reg_mre:.10f}")
        print(f"Mean Absolute Percentage Error (MAPE): {reg_mape:.10f}")
        print(f"Symmetric Mean Absolute Percentage Error (SMAPE): {reg_smape:.10f}")
        print(f"Mean Absolute Scaled Error (MASE): {reg_mase:.10f}")
        print(f"R-squared (R): {reg_r2:.10f}")
    else:
        print("This function currently supports regression only. Please set regression_target=True.")

    return model


# Step 4: Train the model and evaluate
# Assuming 'regression_target' is a flag indicating whether the task is regression or classification
# ElasticNet parameters `alpha` and `l1_ratio` can be adjusted as needed
model = ElasticNetModel(X_train_pca, y_train, X_test_pca, y_test, regression_target=True, alpha=1.0, l1_ratio=0.5)

Elastic Net Regression Model Evaluation:
Mean Squared Error (MSE): 5345.2828120410
Mean Absolute Error (MAE): 59.6155951617
Explained Variance Score (EVS): 0.6397639637
Max Error: 395.2725549313
Mean Relative Error (MRE): 0.3312954808
Mean Absolute Percentage Error (MAPE): 33.1295480821
Symmetric Mean Absolute Percentage Error (SMAPE): 27.2300360994
Mean Absolute Scaled Error (MASE): inf
R-squared (R): 0.6397639637

<ipython-input-18-369904b74121>:13: RuntimeWarning: divide by zero encountered in scalar divide
  return np.mean(np.abs(y_true - y_pred)) / naive_forecast_error

In [ ]:
def XGBoostRegressorModel(X_train_pca, y_train, X_test_pca, y_test, regression_target=True, n_estimators=100, learning_rate=0.1, max_depth=3):
    if regression_target:
        # For regression problem, use XGBoost Regressor
        model = XGBRegressor(
            n_estimators=n_estimators,
            learning_rate=learning_rate,
            max_depth=max_depth,
            random_state=42,
        )
        model.fit(X_train_pca, y_train)
        y_pred = model.predict(X_test_pca)

        # Evaluate the model using standard and custom metrics
        reg_mse = mean_squared_error(y_test, y_pred)  # Mean Squared Error
        reg_mae = mean_absolute_error(y_test, y_pred)  # Mean Absolute Error
        reg_evs = model.score(X_test_pca, y_test)  # Explained Variance Score
        reg_max_error = np.max(np.abs(y_test - y_pred))  # Max Error
        reg_mre = mean_relative_error(y_test, y_pred)  # Mean Relative Error
        reg_mape = mean_absolute_percentage_error(y_test, y_pred)  # Mean Absolute Percentage Error
        reg_smape = symmetric_mean_absolute_percentage_error(y_test, y_pred)  # Symmetric MAPE
        reg_mase = mean_absolute_scaled_error(y_test, y_pred)  # Mean Absolute Scaled Error
        reg_r2 = r2_score(y_test, y_pred)  # R-squared

        # Print results
        print("XGBoost Regressor Model Evaluation:")
        print(f"Mean Squared Error (MSE): {reg_mse:.10f}")
        print(f"Mean Absolute Error (MAE): {reg_mae:.10f}")
        print(f"Explained Variance Score (EVS): {reg_evs:.10f}")
        print(f"Max Error: {reg_max_error:.10f}")
        print(f"Mean Relative Error (MRE): {reg_mre:.10f}")
        print(f"Mean Absolute Percentage Error (MAPE): {reg_mape:.10f}")
        print(f"Symmetric Mean Absolute Percentage Error (SMAPE): {reg_smape:.10f}")
        print(f"Mean Absolute Scaled Error (MASE): {reg_mase:.10f}")
        print(f"R-squared (R): {reg_r2:.10f}")
    else:
        print("This function currently supports regression only. Please set regression_target=True.")

    return model


# Step 4: Train the model and evaluate
# Assuming 'regression_target' is a flag indicating whether the task is regression or classification
# Hyperparameters `n_estimators`, `learning_rate`, and `max_depth` can be adjusted as needed
model = XGBoostRegressorModel(X_train_pca, y_train, X_test_pca, y_test, regression_target=True, n_estimators=100, learning_rate=0.1, max_depth=3)

XGBoost Regressor Model Evaluation:
Mean Squared Error (MSE): 3715.7095477089
Mean Absolute Error (MAE): 46.2756965484
Explained Variance Score (EVS): 0.7495862190
Max Error: 385.4902954102
Mean Relative Error (MRE): 0.2176002665
Mean Absolute Percentage Error (MAPE): 21.7600266544
Symmetric Mean Absolute Percentage Error (SMAPE): 19.9042387002
Mean Absolute Scaled Error (MASE): inf
R-squared (R): 0.7495862190

<ipython-input-18-369904b74121>:13: RuntimeWarning: divide by zero encountered in scalar divide
  return np.mean(np.abs(y_true - y_pred)) / naive_forecast_error

In [ ]:
from sklearn.ensemble import AdaBoostRegressor

def AdaBoostRegressorModel(X_train_pca, y_train, X_test_pca, y_test, regression_target=True, n_estimators=100, learning_rate=0.1):
    if regression_target:
        # For regression problem, use AdaBoost Regressor
        model = AdaBoostRegressor(
            n_estimators=n_estimators,
            learning_rate=learning_rate,
            random_state=42,
        )
        model.fit(X_train_pca, y_train)
        y_pred = model.predict(X_test_pca)

        # Evaluate the model using standard and custom metrics
        reg_mse = mean_squared_error(y_test, y_pred)  # Mean Squared Error
        reg_mae = mean_absolute_error(y_test, y_pred)  # Mean Absolute Error
        reg_evs = model.score(X_test_pca, y_test)  # Explained Variance Score
        reg_max_error = np.max(np.abs(y_test - y_pred))  # Max Error
        reg_mre = mean_relative_error(y_test, y_pred)  # Mean Relative Error
        reg_mape = mean_absolute_percentage_error(y_test, y_pred)  # Mean Absolute Percentage Error
        reg_smape = symmetric_mean_absolute_percentage_error(y_test, y_pred)  # Symmetric MAPE
        reg_mase = mean_absolute_scaled_error(y_test, y_pred)  # Mean Absolute Scaled Error
        reg_r2 = r2_score(y_test, y_pred)  # R-squared

        # Print results
        print("AdaBoost Regressor Model Evaluation:")
        print(f"Mean Squared Error (MSE): {reg_mse:.10f}")
        print(f"Mean Absolute Error (MAE): {reg_mae:.10f}")
        print(f"Explained Variance Score (EVS): {reg_evs:.10f}")
        print(f"Max Error: {reg_max_error:.10f}")
        print(f"Mean Relative Error (MRE): {reg_mre:.10f}")
        print(f"Mean Absolute Percentage Error (MAPE): {reg_mape:.10f}")
        print(f"Symmetric Mean Absolute Percentage Error (SMAPE): {reg_smape:.10f}")
        print(f"Mean Absolute Scaled Error (MASE): {reg_mase:.10f}")
        print(f"R-squared (R): {reg_r2:.10f}")
    else:
        print("This function currently supports regression only. Please set regression_target=True.")

    return model


# Step 4: Train the model and evaluate
# Assuming 'regression_target' is a flag indicating whether the task is regression or classification
# Hyperparameters `n_estimators` and `learning_rate` can be adjusted as needed
model = AdaBoostRegressorModel(X_train_pca, y_train, X_test_pca, y_test, regression_target=True, n_estimators=100, learning_rate=0.1)

AdaBoost Regressor Model Evaluation:
Mean Squared Error (MSE): 5527.8997574745
Mean Absolute Error (MAE): 60.5756529373
Explained Variance Score (EVS): 0.6274568123
Max Error: 368.3554303087
Mean Relative Error (MRE): 0.3502127095
Mean Absolute Percentage Error (MAPE): 35.0212709489
Symmetric Mean Absolute Percentage Error (SMAPE): 27.4079619274
Mean Absolute Scaled Error (MASE): inf
R-squared (R): 0.6274568123

<ipython-input-18-369904b74121>:13: RuntimeWarning: divide by zero encountered in scalar divide
  return np.mean(np.abs(y_true - y_pred)) / naive_forecast_error

In [ ]:
from sklearn.ensemble import HistGradientBoostingRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import numpy as np

def HistGradientBoostingRegressorModel(X_train_pca, y_train, X_test_pca, y_test, regression_target=True, max_iter=100, learning_rate=0.1):
    if regression_target:
        # For regression problem, use Histogram-based Gradient Boosting Regressor
        model = HistGradientBoostingRegressor(
            max_iter=max_iter,
            learning_rate=learning_rate,
            random_state=42,
        )
        model.fit(X_train_pca, y_train)
        y_pred = model.predict(X_test_pca)

        # Evaluate the model using standard and custom metrics
        reg_mse = mean_squared_error(y_test, y_pred)  # Mean Squared Error
        reg_mae = mean_absolute_error(y_test, y_pred)  # Mean Absolute Error
        reg_evs = model.score(X_test_pca, y_test)  # Explained Variance Score
        reg_max_error = np.max(np.abs(y_test - y_pred))  # Max Error
        reg_mre = mean_relative_error(y_test, y_pred)  # Mean Relative Error
        reg_mape = mean_absolute_percentage_error(y_test, y_pred)  # Mean Absolute Percentage Error
        reg_smape = symmetric_mean_absolute_percentage_error(y_test, y_pred)  # Symmetric MAPE
        reg_mase = mean_absolute_scaled_error(y_test, y_pred)  # Mean Absolute Scaled Error
        reg_r2 = r2_score(y_test, y_pred)  # R-squared

        # Print results
        print("Histogram-based Gradient Boosting Regressor Model Evaluation:")
        print(f"Mean Squared Error (MSE): {reg_mse:.10f}")
        print(f"Mean Absolute Error (MAE): {reg_mae:.10f}")
        print(f"Explained Variance Score (EVS): {reg_evs:.10f}")
        print(f"Max Error: {reg_max_error:.10f}")
        print(f"Mean Relative Error (MRE): {reg_mre:.10f}")
        print(f"Mean Absolute Percentage Error (MAPE): {reg_mape:.10f}")
        print(f"Symmetric Mean Absolute Percentage Error (SMAPE): {reg_smape:.10f}")
        print(f"Mean Absolute Scaled Error (MASE): {reg_mase:.10f}")
        print(f"R-squared (R): {reg_r2:.10f}")
    else:
        print("This function currently supports regression only. Please set regression_target=True.")

    return model


# Step 4: Train the model and evaluate
# Assuming 'regression_target' is a flag indicating whether the task is regression or classification
# Hyperparameters `max_iter` and `learning_rate` can be adjusted as needed
model = HistGradientBoostingRegressorModel(X_train_pca, y_train, X_test_pca, y_test, regression_target=True, max_iter=100, learning_rate=0.1)

Histogram-based Gradient Boosting Regressor Model Evaluation:
Mean Squared Error (MSE): 3133.6643772277
Mean Absolute Error (MAE): 41.8690412713
Explained Variance Score (EVS): 0.7888121407
Max Error: 365.7156429145
Mean Relative Error (MRE): 0.1921842612
Mean Absolute Percentage Error (MAPE): 19.2184261161
Symmetric Mean Absolute Percentage Error (SMAPE): 17.9175273601
Mean Absolute Scaled Error (MASE): inf
R-squared (R): 0.7888121407

<ipython-input-18-369904b74121>:13: RuntimeWarning: divide by zero encountered in scalar divide
  return np.mean(np.abs(y_true - y_pred)) / naive_forecast_error

In [ ]:
import lightgbm as lgb
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import numpy as np

def LightGBMRegressorModel(X_train_pca, y_train, X_test_pca, y_test, regression_target=True, n_estimators=100, learning_rate=0.1, max_depth=-1):
    if regression_target:
        # For regression problem, use LightGBM Regressor
        model = lgb.LGBMRegressor(
            n_estimators=n_estimators,
            learning_rate=learning_rate,
            max_depth=max_depth,
            random_state=42,
        )
        model.fit(X_train_pca, y_train)
        y_pred = model.predict(X_test_pca)

        # Evaluate the model using standard and custom metrics
        reg_mse = mean_squared_error(y_test, y_pred)  # Mean Squared Error
        reg_mae = mean_absolute_error(y_test, y_pred)  # Mean Absolute Error
        reg_evs = model.score(X_test_pca, y_test)  # Explained Variance Score
        reg_max_error = np.max(np.abs(y_test - y_pred))  # Max Error
        reg_mre = mean_relative_error(y_test, y_pred)  # Mean Relative Error
        reg_mape = mean_absolute_percentage_error(y_test, y_pred)  # Mean Absolute Percentage Error
        reg_smape = symmetric_mean_absolute_percentage_error(y_test, y_pred)  # Symmetric MAPE
        reg_mase = mean_absolute_scaled_error(y_test, y_pred)  # Mean Absolute Scaled Error
        reg_r2 = r2_score(y_test, y_pred)  # R-squared

        # Print results
        print("LightGBM Regressor Model Evaluation:")
        print(f"Mean Squared Error (MSE): {reg_mse:.10f}")
        print(f"Mean Absolute Error (MAE): {reg_mae:.10f}")
        print(f"Explained Variance Score (EVS): {reg_evs:.10f}")
        print(f"Max Error: {reg_max_error:.10f}")
        print(f"Mean Relative Error (MRE): {reg_mre:.10f}")
        print(f"Mean Absolute Percentage Error (MAPE): {reg_mape:.10f}")
        print(f"Symmetric Mean Absolute Percentage Error (SMAPE): {reg_smape:.10f}")
        print(f"Mean Absolute Scaled Error (MASE): {reg_mase:.10f}")
        print(f"R-squared (R): {reg_r2:.10f}")
    else:
        print("This function currently supports regression only. Please set regression_target=True.")

    return model


# Step 4: Train the model and evaluate
# Assuming 'regression_target' is a flag indicating whether the task is regression or classification
# Hyperparameters `n_estimators`, `learning_rate`, and `max_depth` can be adjusted as needed
model = LightGBMRegressorModel(X_train_pca, y_train, X_test_pca, y_test, regression_target=True, n_estimators=100, learning_rate=0.1, max_depth=-1)

/usr/local/lib/python3.11/dist-packages/dask/dataframe/__init__.py:42: FutureWarning:
Dask dataframe query planning is disabled because dask-expr is not installed.

You can install it with `pip install dask[dataframe]` or `conda install dask`.
This will raise in a future version.

  warnings.warn(msg, FutureWarning)

[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.004956 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 2550
[LightGBM] [Info] Number of data points in the train set: 38553, number of used features: 10
[LightGBM] [Info] Start training from score 259.239636
LightGBM Regressor Model Evaluation:
Mean Squared Error (MSE): 3125.3155710248
Mean Absolute Error (MAE): 41.7143643268
Explained Variance Score (EVS): 0.7893747940
Max Error: 395.5918274213
Mean Relative Error (MRE): 0.1906606105
Mean Absolute Percentage Error (MAPE): 19.0660610543
Symmetric Mean Absolute Percentage Error (SMAPE): 17.8032973433
Mean Absolute Scaled Error (MASE): inf
R-squared (R): 0.7893747940

<ipython-input-18-369904b74121>:13: RuntimeWarning: divide by zero encountered in scalar divide
  return np.mean(np.abs(y_true - y_pred)) / naive_forecast_error